<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zizaike.trade.dao.PayOrderMapper" >
  <resultMap id="BaseResultMap" type="com.zizaike.entity.trade.PayOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="out_pay_no" property="outPayNo" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" typeHandler="com.zizaike.trade.dao.handler.OrderTypeHandler"/>
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, out_pay_no, order_no, order_type, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_pay_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_pay_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zizaike.entity.trade.PayOrder" >
    insert into t_pay_order (id, out_pay_no, order_no, 
      order_type, create_at, update_at
      )
    values (#{id,jdbcType=INTEGER}, #{outPayNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{orderType,typeHandler=com.zizaike.trade.dao.handler.OrderTypeHandler ,javaType=com.zizaike.entity.trade.OrderType},
      #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zizaike.entity.trade.PayOrder" >
    insert into t_pay_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="outPayNo != null" >
        out_pay_no,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="outPayNo != null" >
        #{outPayNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
       #{orderType,typeHandler=com.zizaike.trade.dao.handler.OrderTypeHandler ,javaType=com.zizaike.entity.trade.OrderType},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zizaike.entity.trade.PayOrder" >
    update t_pay_order
    <set >
      <if test="outPayNo != null" >
        out_pay_no = #{outPayNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,typeHandler=com.zizaike.trade.dao.handler.OrderTypeHandler ,javaType=com.zizaike.entity.trade.OrderType},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zizaike.entity.trade.PayOrder" >
    update t_pay_order
    set out_pay_no = #{outPayNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_type = #{orderType,typeHandler=com.zizaike.trade.dao.handler.OrderTypeHandler ,javaType=com.zizaike.entity.trade.OrderType},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByOutPayNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_pay_order
    where out_pay_no = #{outPayNo,jdbcType=VARCHAR}
  </select>
</mapper>