<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zizaike.trade.dao.TradeServiceOrderMapper" >
  <resultMap id="BaseResultMap" type="com.zizaike.entity.trade.TradeServiceOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="master_order_no" property="masterOrderNo" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="business_id" property="businessId" jdbcType="INTEGER" />
    <result column="channel" property="channel" typeHandler="com.zizaike.trade.dao.handler.ChannelTypeHandler" />
    <result column="unit_id" property="unitId" jdbcType="VARCHAR" />
    <result column="unit_type" property="additionalServiceType" typeHandler="com.zizaike.trade.dao.handler.AdditionalServiceTypeHandler" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="guest_name" property="guestName" jdbcType="VARCHAR" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="unit_price" property="unitPrice" jdbcType="INTEGER" />
    <result column="unit_number" property="unitNumber" jdbcType="INTEGER" />
    <result column="total_price" property="totalPrice" jdbcType="INTEGER" />
    <result column="use_time" property="useTime" jdbcType="TIMESTAMP" />
    <result column="business_dest_id" property="businessDestId" jdbcType="INTEGER" />
    <result column="customer_dest_id" property="customerDestId" jdbcType="INTEGER" />
    <result column="RMB_rate_business" property="rmbRateBusiness" jdbcType="DOUBLE" />
    <result column="RMB_rate_customer" property="rmbRateCustomer" jdbcType="DOUBLE" />
    <result column="customer_currency_code" property="customerCurrencyCode" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="customer_province" property="customerProvince" jdbcType="VARCHAR" />
    <result column="commission_rate" property="commissionRate" jdbcType="INTEGER" />
    <result column="commission_amount" property="commissionAmount" jdbcType="INTEGER" />
    <result column="discount_amount" property="discountAmount" jdbcType="INTEGER" />
    <result column="refund_amount" property="refundAmount" jdbcType="INTEGER" />
    <result column="closed_reasons" property="closedReasons" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" typeHandler="com.zizaike.trade.dao.handler.OrderStatusHandler" />
    <result column="business_order_status" property="businessOrderStatus" typeHandler="com.zizaike.trade.dao.handler.BusinessOrderStatusHandler" />
    <result column="order_remarks" property="orderRemarks" jdbcType="VARCHAR" />
    <result column="daochu_status" property="daochuStatus" jdbcType="BIT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, master_order_no, order_no,customer_id,business_id,channel, unit_id, unit_type, unit_name, guest_name, first_name, 
    last_name, mobile, email, wechat, remark, unit_price, unit_number, total_price, use_time, 
    business_dest_id, customer_dest_id, RMB_rate_business, RMB_rate_customer,customer_currency_code, ip, customer_province, 
    commission_rate, commission_amount, discount_amount, refund_amount, closed_reasons, 
    order_type, order_status,business_order_status, order_remarks, daochu_status, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_trade_service_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_trade_service_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zizaike.entity.trade.TradeServiceOrder" >
    insert into t_trade_service_order (id, master_order_no, order_no, 
    customer_id,business_id,channel,
      unit_id, unit_type, unit_name, 
      guest_name, first_name, last_name, 
      mobile, email, wechat, 
      remark, unit_price, unit_number, 
      total_price, use_time, business_dest_id, 
      customer_dest_id, RMB_rate_business, RMB_rate_customer, 
      customerCurrencyCode,
      ip, customer_province, commission_rate, 
      commission_amount, discount_amount, refund_amount, 
      closed_reasons, order_type, order_status, 
      business_order_status,
      order_remarks, daochu_status, create_at, 
      update_at)
    values (#{id,jdbcType=INTEGER}, #{masterOrderNo,jdbcType=VARCHAR}, 
    #{orderNo,jdbcType=VARCHAR}, 
    #{customerId,jdbcType=INTEGER}, 
    #{businessId,jdbcType=INTEGER}, 
    #{channel,typeHandler=com.zizaike.trade.dao.handler.ChannelTypeHandler ,javaType=com.zizaike.entity.trade.ChannelType},
      #{unitId,jdbcType=VARCHAR},
	  #{additionalServiceType,typeHandler=com.zizaike.trade.dao.handler.AdditionalServiceTypeHandler ,javaType=com.zizaike.entity.commodity.AdditionalServiceType},
      #{unitName,jdbcType=VARCHAR}, 
      #{guestName,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{unitPrice,jdbcType=INTEGER}, #{unitNumber,jdbcType=INTEGER}, 
      #{totalPrice,jdbcType=INTEGER}, #{useTime,jdbcType=TIMESTAMP}, #{businessDestId,jdbcType=INTEGER}, 
      #{customerDestId,jdbcType=INTEGER}, #{rmbRateBusiness,jdbcType=DOUBLE}, #{rmbRateCustomer,jdbcType=DOUBLE}, 
      #{customerCurrencyCode,jdbcType=VARCHAR},
      #{ip,jdbcType=VARCHAR},
       #{customerProvince,jdbcType=VARCHAR}, #{commissionRate,jdbcType=INTEGER}, 
      #{commissionAmount,jdbcType=INTEGER}, #{discountAmount,jdbcType=INTEGER}, #{refundAmount,jdbcType=INTEGER}, 
      #{closedReasons,jdbcType=INTEGER}, #{orderType,jdbcType=INTEGER},
       #{orderStatus,typeHandler=com.zizaike.trade.dao.handler.OrderStatusHandler,javaType=com.zizaike.entity.trade.OrderStatus},
       #{businessOrderStatus,typeHandler=com.zizaike.trade.dao.handler.BusinessOrderStatusHandler,javaType=com.zizaike.entity.trade.BusinessOrderStatus},
      #{orderRemarks,jdbcType=VARCHAR}, #{daochuStatus,jdbcType=BIT}, #{createAt,jdbcType=TIMESTAMP}, 
      #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zizaike.entity.trade.TradeServiceOrder" >
    insert into t_trade_service_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="masterOrderNo != null" >
        master_order_no,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="businessId != null" >
        business_id,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="additionalServiceType != null" >
        unit_type,
      </if>
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="guestName != null" >
        guest_name,
      </if>
      <if test="firstName != null" >
        first_name,
      </if>
      <if test="lastName != null" >
        last_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="unitNumber != null" >
        unit_number,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="useTime != null" >
        use_time,
      </if>
      <if test="businessDestId != null" >
        business_dest_id,
      </if>
      <if test="customerDestId != null" >
        customer_dest_id,
      </if>
      <if test="rmbRateBusiness != null" >
        RMB_rate_business,
      </if>
      <if test="rmbRateCustomer != null" >
        RMB_rate_customer,
      </if>
      <if test="customerCurrencyCode != null" >
        customer_currency_code,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="customerProvince != null" >
        customer_province,
      </if>
      <if test="commissionRate != null" >
        commission_rate,
      </if>
      <if test="commissionAmount != null" >
        commission_amount,
      </if>
      <if test="discountAmount != null" >
        discount_amount,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="closedReasons != null" >
        closed_reasons,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="businessOrderStatus != null" >
        business_order_status,
      </if>
      <if test="orderRemarks != null" >
        order_remarks,
      </if>
      <if test="daochuStatus != null" >
        daochu_status,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="masterOrderNo != null" >
        #{masterOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        #{channel,typeHandler=com.zizaike.trade.dao.handler.ChannelTypeHandler ,javaType=com.zizaike.entity.trade.ChannelType},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="additionalServiceType != null" >
         #{additionalServiceType,typeHandler=com.zizaike.trade.dao.handler.AdditionalServiceTypeHandler ,javaType=com.zizaike.entity.commodity.AdditionalServiceType},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="guestName != null" >
        #{guestName,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="unitNumber != null" >
        #{unitNumber,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="useTime != null" >
        #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessDestId != null" >
        #{businessDestId,jdbcType=INTEGER},
      </if>
      <if test="customerDestId != null" >
        #{customerDestId,jdbcType=INTEGER},
      </if>
      <if test="rmbRateBusiness != null" >
        #{rmbRateBusiness,jdbcType=DOUBLE},
      </if>
      <if test="rmbRateCustomer != null" >
        #{rmbRateCustomer,jdbcType=DOUBLE},
      </if>
      <if test="customerCurrencyCode != null" >
        #{customerCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="customerProvince != null" >
        #{customerProvince,jdbcType=VARCHAR},
      </if>
      <if test="commissionRate != null" >
        #{commissionRate,jdbcType=INTEGER},
      </if>
      <if test="commissionAmount != null" >
        #{commissionAmount,jdbcType=INTEGER},
      </if>
      <if test="discountAmount != null" >
        #{discountAmount,jdbcType=INTEGER},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=INTEGER},
      </if>
      <if test="closedReasons != null" >
        #{closedReasons,jdbcType=INTEGER},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
         #{orderStatus,typeHandler=com.zizaike.trade.dao.handler.OrderStatusHandler,javaType=com.zizaike.entity.trade.OrderStatus},
      </if>
      <if test="businessOrderStatus != null" >
		#{businessOrderStatus,typeHandler=com.zizaike.trade.dao.handler.BusinessOrderStatusHandler,javaType=com.zizaike.entity.trade.BusinessOrderStatus},
	  </if>
      <if test="orderRemarks != null" >
        #{orderRemarks,jdbcType=VARCHAR},
      </if>
      <if test="daochuStatus != null" >
        #{daochuStatus,jdbcType=BIT},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zizaike.entity.trade.TradeServiceOrder" >
    update t_trade_service_order
    <set >
      <if test="masterOrderNo != null" >
        master_order_no = #{masterOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id=#{customerId,jdbcType=INTEGER},
      </if>
      <if test="businessId != null" >
       business_id=#{businessId,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        channel=#{channel,typeHandler=com.zizaike.trade.dao.handler.ChannelTypeHandler ,javaType=com.zizaike.entity.trade.ChannelType},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="additionalServiceType != null" >
        unit_type = #{additionalServiceType,typeHandler=com.zizaike.trade.dao.handler.AdditionalServiceTypeHandler ,javaType=com.zizaike.entity.commodity.AdditionalServiceType},
      </if>
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="guestName != null" >
        guest_name = #{guestName,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="unitNumber != null" >
        unit_number = #{unitNumber,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="useTime != null" >
        use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessDestId != null" >
        business_dest_id = #{businessDestId,jdbcType=INTEGER},
      </if>
      <if test="customerDestId != null" >
        customer_dest_id = #{customerDestId,jdbcType=INTEGER},
      </if>
      <if test="rmbRateBusiness != null" >
        RMB_rate_business = #{rmbRateBusiness,jdbcType=DOUBLE},
      </if>
      <if test="rmbRateCustomer != null" >
        RMB_rate_customer = #{rmbRateCustomer,jdbcType=DOUBLE},
      </if>
      <if test="customerCurrencyCode != null" >
        customer_currency_code = #{customerCurrencyCode,jdbcType=DOUBLE},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="customerProvince != null" >
        customer_province = #{customerProvince,jdbcType=VARCHAR},
      </if>
      <if test="commissionRate != null" >
        commission_rate = #{commissionRate,jdbcType=INTEGER},
      </if>
      <if test="commissionAmount != null" >
        commission_amount = #{commissionAmount,jdbcType=INTEGER},
      </if>
      <if test="discountAmount != null" >
        discount_amount = #{discountAmount,jdbcType=INTEGER},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=INTEGER},
      </if>
      <if test="closedReasons != null" >
        closed_reasons = #{closedReasons,jdbcType=INTEGER},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status =  #{orderStatus,typeHandler=com.zizaike.trade.dao.handler.OrderStatusHandler,javaType=com.zizaike.entity.trade.OrderStatus},
      </if>
      <if test="businessOrderStatus != null" >
        business_order_status = #{businessOrderStatus,typeHandler=com.zizaike.trade.dao.handler.BusinessOrderStatusHandler,javaType=com.zizaike.entity.trade.BusinessOrderStatus},
      </if>
      <if test="orderRemarks != null" >
        order_remarks = #{orderRemarks,jdbcType=VARCHAR},
      </if>
      <if test="daochuStatus != null" >
        daochu_status = #{daochuStatus,jdbcType=BIT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zizaike.entity.trade.TradeServiceOrder" >
    update t_trade_service_order
    set master_order_no = #{masterOrderNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
        customer_id=#{customerId,jdbcType=INTEGER},
       business_id=#{businessId,jdbcType=INTEGER},
        channel=#{channel,typeHandler=com.zizaike.trade.dao.handler.ChannelTypeHandler ,javaType=com.zizaike.entity.trade.ChannelType},
      unit_id = #{unitId,jdbcType=VARCHAR},
      unit_type = #{unitType,jdbcType=VARCHAR},
      unit_name = #{additionalServiceType,typeHandler=com.zizaike.trade.dao.handler.AdditionalServiceTypeHandler ,javaType=com.zizaike.entity.commodity.AdditionalServiceType},
      guest_name = #{guestName,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=INTEGER},
      unit_number = #{unitNumber,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=INTEGER},
      use_time = #{useTime,jdbcType=TIMESTAMP},
      business_dest_id = #{businessDestId,jdbcType=INTEGER},
      customer_dest_id = #{customerDestId,jdbcType=INTEGER},
      RMB_rate_business = #{rmbRateBusiness,jdbcType=DOUBLE},
      RMB_rate_customer = #{rmbRateCustomer,jdbcType=DOUBLE},
      customer_currency_code = #{customerCurrencyCode,jdbcType=DOUBLE},
      ip = #{ip,jdbcType=VARCHAR},
      customer_province = #{customerProvince,jdbcType=VARCHAR},
      commission_rate = #{commissionRate,jdbcType=INTEGER},
      commission_amount = #{commissionAmount,jdbcType=INTEGER},
      discount_amount = #{discountAmount,jdbcType=INTEGER},
      refund_amount = #{refundAmount,jdbcType=INTEGER},
      closed_reasons = #{closedReasons,jdbcType=INTEGER},
      order_type = #{orderType,jdbcType=INTEGER},
      order_status =  #{orderStatus,typeHandler=com.zizaike.trade.dao.handler.OrderStatusHandler,javaType=com.zizaike.entity.trade.OrderStatus},
      business_order_status =  #{businessOrderStatus,typeHandler=com.zizaike.trade.dao.handler.BusinessOrderStatusHandler,javaType=com.zizaike.entity.trade.BusinessOrderStatus},
      order_remarks = #{orderRemarks,jdbcType=VARCHAR},
      daochu_status = #{daochuStatus,jdbcType=BIT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <update id="updateByOrderNoSelective" parameterType="com.zizaike.entity.trade.TradeServiceOrder" >
    update t_trade_service_order
    <set >
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
        <if test="customerId != null" >
        customer_id=#{customerId,jdbcType=INTEGER},
      </if>
      <if test="businessId != null" >
       business_id=#{businessId,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        channel=#{channel,typeHandler=com.zizaike.trade.dao.handler.ChannelTypeHandler ,javaType=com.zizaike.entity.trade.ChannelType},
      </if>
      <if test="additionalServiceType != null" >
        unit_type = #{additionalServiceType,typeHandler=com.zizaike.trade.dao.handler.AdditionalServiceTypeHandler ,javaType=com.zizaike.entity.commodity.AdditionalServiceType},
      </if>
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="guestName != null" >
        guest_name = #{guestName,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="unitNumber != null" >
        unit_number = #{unitNumber,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="useTime != null" >
        use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessDestId != null" >
        business_dest_id = #{businessDestId,jdbcType=INTEGER},
      </if>
      <if test="customerDestId != null" >
        customer_dest_id = #{customerDestId,jdbcType=INTEGER},
      </if>
      <if test="rmbRateBusiness != null" >
        RMB_rate_business = #{rmbRateBusiness,jdbcType=DOUBLE},
      </if>
      <if test="rmbRateCustomer != null" >
        RMB_rate_customer = #{rmbRateCustomer,jdbcType=DOUBLE},
      </if>
      <if test="customerCurrencyCode != null" >
        customer_currency_code = #{customerCurrencyCode,jdbcType=DOUBLE},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="customerProvince != null" >
        customer_province = #{customerProvince,jdbcType=VARCHAR},
      </if>
      <if test="commissionRate != null" >
        commission_rate = #{commissionRate,jdbcType=INTEGER},
      </if>
      <if test="commissionAmount != null" >
        commission_amount = #{commissionAmount,jdbcType=INTEGER},
      </if>
      <if test="discountAmount != null" >
        discount_amount = #{discountAmount,jdbcType=INTEGER},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=INTEGER},
      </if>
      <if test="closedReasons != null" >
        closed_reasons = #{closedReasons,jdbcType=INTEGER},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status =  #{orderStatus,typeHandler=com.zizaike.trade.dao.handler.OrderStatusHandler,javaType=com.zizaike.entity.trade.OrderStatus},
      </if>
      <if test="businessOrderStatus != null" >
      	business_order_status =  #{businessOrderStatus,typeHandler=com.zizaike.trade.dao.handler.BusinessOrderStatusHandler,javaType=com.zizaike.entity.trade.BusinessOrderStatus},
      </if>
      <if test="orderRemarks != null" >
        order_remarks = #{orderRemarks,jdbcType=VARCHAR},
      </if>
      <if test="daochuStatus != null" >
        daochu_status = #{daochuStatus,jdbcType=BIT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>
  <insert id="insertBatch" useGeneratedKeys="true" parameterType="ArrayList" >
    insert into t_trade_service_order ( master_order_no, order_no, 
      unit_id, unit_type, unit_name, 
      guest_name, first_name, last_name, 
      mobile, email, wechat, 
      remark, unit_price, unit_number, 
      total_price, use_time, business_dest_id, 
      customer_dest_id, RMB_rate_business, RMB_rate_customer, 
      customer_currency_code,
      ip,
       customer_province, commission_rate, 
      commission_amount, discount_amount, refund_amount, 
      closed_reasons, order_type,
       order_status, 
       business_order_status, 
      order_remarks, daochu_status, create_at, 
      update_at)
    values 
    <foreach collection="list" item="item" index="index" separator="," >  
     (#{item.masterOrderNo,jdbcType=VARCHAR}, #{item.orderNo,jdbcType=VARCHAR}, 
      #{item.customerId,jdbcType=INTEGER}, 
    #{item.businessId,jdbcType=INTEGER}, 
    #{item.channel,typeHandler=com.zizaike.trade.dao.handler.ChannelTypeHandler ,javaType=com.zizaike.entity.trade.ChannelType},
      #{item.unitId,jdbcType=VARCHAR}, 
      #{item.additionalServiceType,typeHandler=com.zizaike.trade.dao.handler.AdditionalServiceTypeHandler ,javaType=com.zizaike.entity.commodity.AdditionalServiceType},
       #{item.unitName,jdbcType=VARCHAR}, 
      #{item.guestName,jdbcType=VARCHAR}, #{item.firstName,jdbcType=VARCHAR}, #{item.lastName,jdbcType=VARCHAR}, 
      #{item.mobile,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.wechat,jdbcType=VARCHAR}, 
      #{item.remark,jdbcType=VARCHAR}, #{item.unitPrice,jdbcType=INTEGER}, #{item.unitNumber,jdbcType=INTEGER}, 
      #{item.totalPrice,jdbcType=INTEGER}, #{item.useTime,jdbcType=TIMESTAMP}, #{item.businessDestId,jdbcType=INTEGER}, 
      #{item.customerDestId,jdbcType=INTEGER}, #{item.rmbRateBusiness,jdbcType=DOUBLE}, #{item.rmbRateCustomer,jdbcType=DOUBLE}, 
      #{item.customerCurrencyCode,jdbcType=VARCHAR},
      #{item.ip,jdbcType=VARCHAR},
       #{item.customerProvince,jdbcType=VARCHAR}, #{item.commissionRate,jdbcType=INTEGER}, 
      #{item.commissionAmount,jdbcType=INTEGER}, #{item.discountAmount,jdbcType=INTEGER}, #{item.refundAmount,jdbcType=INTEGER}, 
      #{item.closedReasons,jdbcType=INTEGER}, #{item.orderType,jdbcType=INTEGER}, 
      #{item.orderStatus,typeHandler=com.zizaike.trade.dao.handler.OrderStatusHandler,javaType=com.zizaike.entity.trade.OrderStatus},
      #{item.businessOrderStatus,typeHandler=com.zizaike.trade.dao.handler.BusinessOrderStatusHandler,javaType=com.zizaike.entity.trade.BusinessOrderStatus},
      #{item.orderRemarks,jdbcType=VARCHAR}, #{item.daochuStatus,jdbcType=BIT}, #{item.createAt,jdbcType=TIMESTAMP}, 
      #{item.updateAt,jdbcType=TIMESTAMP})
       </foreach>  
  </insert>
  <select id="queryByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_trade_service_order
    where  order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="queryOrderNoAndOrderStatus" resultMap="BaseResultMap" parameterType="com.zizaike.entity.trade.TradeServiceOrder" >
    select 
    <include refid="Base_Column_List" />
    from t_trade_service_order
    where  order_no = #{orderNo,jdbcType=VARCHAR} and order_status =  #{orderStatus,typeHandler=com.zizaike.trade.dao.handler.OrderStatusHandler,javaType=com.zizaike.entity.trade.OrderStatus}
  </select>
  <select id="queryCustomer" resultMap="BaseResultMap" parameterType="com.zizaike.entity.trade.param.TradeServiceOrderQueryParam" >
    select 
    <include refid="Base_Column_List" />
    from t_trade_service_order
    where  customer_id = #{customerId,jdbcType=INTEGER} 
     <if test="orderStatus != null " >
       and  order_status =  #{orderStatus,typeHandler=com.zizaike.trade.dao.handler.OrderStatusHandler,javaType=com.zizaike.entity.trade.OrderStatus}
      </if>
     <if test="keywords != null and keywords !='' " >
       and  CONCAT (order_no,unit_name) LIKE CONCAT('%','${keywords,jdbcType=VARCHAR}','%' )
      </if>
  </select>
  <select id="queryBusiness" resultMap="BaseResultMap" parameterType="com.zizaike.entity.trade.param.TradeServiceOrderQueryParam" >
    select 
    <include refid="Base_Column_List" />
    from t_trade_service_order
    where  
    	business_id = #{businessId,jdbcType=INTEGER} 
     <if test="businessOrderStatus != null" >
       and  business_order_status =  #{businessOrderStatus,typeHandler=com.zizaike.trade.dao.handler.BusinessOrderStatusHandler,javaType=com.zizaike.entity.trade.BusinessOrderStatus}
      </if>
      <if test="orderStatus != null " >
       and  order_status =  #{orderStatus,typeHandler=com.zizaike.trade.dao.handler.OrderStatusHandler,javaType=com.zizaike.entity.trade.OrderStatus}
      </if>
     <if test="orderTimeBegin != null and orderTimeEnd != null" >
       and  (create_at between   #{orderTimeBegin, jdbcType=TIMESTAMP} and #{orderTimeEnd, jdbcType=TIMESTAMP})
     </if>
     <if test="useTimeBegin != null and useTimeEnd != null" >
       and  (use_time between  #{useTimeBegin, jdbcType=TIMESTAMP} and #{useTimeEnd, jdbcType=TIMESTAMP})
     </if>
     <if test="orderNo != null and orderNo !=''" >
       and  order_no =  #{orderNo,jdbcType=VARCHAR}
      </if>
     <if test="guestName != null and guestName!='' " >
       and  guest_name =  #{guestName,jdbcType=VARCHAR}
      </if>
     <if test="mobile != null and mobile!=''" >
       and  mobile =  #{mobile,jdbcType=VARCHAR}
      </if>
    order by  create_at  desc 
  </select>
  
   <update id="updateTradeServiceOrderPaySuccess" parameterType="com.zizaike.entity.trade.TradeServiceOrder" >
    update t_trade_service_order
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>
  
</mapper>